.header {
    height: 4.5em;

    padding: 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo-photo {
    width: 112px;
    height: 65.1px;
}

.header_nav {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 40px
}

.header_list {
    display: flex;
    align-items: center;
    gap: 40px;

    font-family: "Space Mono", serif;

    font-weight: 400;
    font-size: 1.125em;
    line-height: 1.5em;
    letter-spacing: -2.2%;
}

.header_list-item a{
    color: #fff;
}

.header_btn {
    background-color: #6966FF;

    font-family: "Roboto", serif;

    font-weight: 500;
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: -1.1%;
    color: #fff;
}

.mobile_nav1 {
    display: none;
}

.mobile_nav2 {
    display: none;
}


@media (max-width: 1171px) {
    .header_list {
        font-size: 15px;
        line-height: 20px;
        letter-spacing: -1.1%;
    }

    .header_btn {
        font-size: 14px;
        line-height: 18px;
    }
}

@media (max-width: 1049px) {
    .header_list {
        font-size: 13px;
        line-height: 18px;
    }
    
    .header_btn {
        font-size: 13px;
    }
}

@media (max-width: 954px) {
    .header_list {
        font-size: 12px;
    }

    .header_btn {
        font-size: 12px;
    }
}

@media (max-width: 912px) {
    .header_list {
        font-size: 11px;
    }

    .header_btn {
        font-size: 11px;
    }
}

@media (max-width: 869px) {
     .header_list {
        font-size: 10px;
    }

    .header_btn {
        font-size: 10px;
    }
}

@media (max-width: 826px) {
     .header_list {
        font-size: 9.5px;
    }

    .header_btn {
        font-size: 9.5px;
    }
}

@media (max-width: 805px) {
     .header_list {
        font-size: 9px;
    }

    .header_btn {
        font-size: 9px;
    }
}

@media (max-width: 784px) {
     .header_list {
        font-size: 8.8px;
    }

    .header_btn {
        font-size: 8.8px;
    }
}

@media (max-width: 775px) {
     .header_list {
        font-size: 8.5px;
    }

    .header_btn {
        font-size: 8.5px;
    }
}

@media (max-width: 763px) {
     .header_list {
        font-size: 8px;
    }

    .header_btn {
        font-size: 8px;
    }
}

@media (max-width: 869px) {
    .header_nav {
        position: relative;
    }

    .mobile_nav1 {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 32px;
    }

    .header_btn-mobile {
        font-size: 16px;

        position: absolute;
        top: 39px;
        right: 92px;
    }

    .burger_menu {
        background-color: transparent;
        padding: 0;
        border: none;

        position: absolute;
        top: 42px;
        right: 26px;
    }

    .burger_menu-icon {
        height: 38px;
        object-fit: contain;
        object-position: center;
    }

    .header_nav {
        display: none;
    }

    .header_logo-photo {
        width: 100px;
        height: 65.1px;
    }
}

@media (max-width: 701px) {
    .header_logo-photo {
        width: 105px;
        height: 60px;
    }
}

@media (max-width: 601px) {
    .mobile_nav1 {
        display: none;
    }

    .mobile_nav2 {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 32px;
    }
  
    .header_logo-photo {
        width: 95px;
        height: 55px;
    }
}

@media (max-width: 451px) {
    .header_logo-photo {
        width: 85px;
        height: 50px;
    }
}

@media (max-width: 401px) {
    .header_logo-photo {
        width: 80px;
        height: 48px;
    }
}

@media (max-width: 381px) {
    .header_logo-photo {
        width: 78px;
        height: 45px;
    }
}



