@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Stack+Sans+Headline:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@import "header.css";
@import "btn.css";
@import "hero.css";
@import "burger-menu.css";

body {
    margin: 0;
    padding: 0;

    width: 100%;

    background-color: #1C1C28;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}



/*! С 1123px  и до 1000px текст и паддинги кривые !*/
/*! 671px линия стоит крыво !*/